%%-*- mode: erlang -*-
{minimum_otp_vsn, "18.0"}.
{erl_opts, [
  warnings_as_errors,
  debug_info,
  {parse_transform, lager_transform}
]}.
{xref_checks, []}.

{deps, [
        {clique, "3.0.1"},
        {lager, "3.6.1"},
        {hackney, "1.11.0"},
        {jsx, "2.9.0"},
        {cuttlefish, {git, "https://github.com/kyorai/cuttlefish.git",
                      {ref, "649cda2828ef939126a20faa5d0ee0a2ab69f9a6"}}},
        {vernemq_dev, {git, "git://github.com/erlio/vernemq_dev.git",
                      {ref, "39e737ce643700ca429dd36a97ed138069c15036"}}}
       ]}.
