{minimum_otp_vsn, "18.0"}.
{erl_opts, [
            warnings_as_errors,
            debug_info,
            {parse_transform, lager_transform}
           ]}.

{deps, [
        {clique, "0.3.11"},
        {lager, "3.6.3"},
        {cuttlefish, {git, "https://github.com/kyorai/cuttlefish.git",
                      {ref, "649cda2828ef939126a20faa5d0ee0a2ab69f9a6"}}}
       ]}.

{profiles,[
           {lint, [{plugins, [{
                               rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}
                              }]
                   }]}
          ]}.
